<header>
  <p><%= link_to "Home", root_path %></p>
  
    <% if logged_in? %>
      <p><%= link_to "Index of users", users_path %></p>
      <p><%= link_to "Your profile", current_user %></p>
      <p><%= link_to "Log out", logout_path, method: :delete %></p>
      <p><%= link_to "New Post", new_post_path %></p>
    <% else %>
      <p><%= link_to "Log In", login_path %></p>
    <% end %>
      
</header>